@import "../../styles/globals.css";

.achievements {
    padding: 96px 0
}

.ach-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0
}

.ach-list li {
    display: flex;
    gap: 12px;
    align-items: flex-start
}

.ach-list .icon {
    color: var(--accent);
    margin-top: 4px
}

@media(max-width:768px) {
    .achievements {
        padding: 56px 0
    }
}